<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Biblioteka</title>
</head>
<body>
<div id="cookie-banner" class="hide-banner"> 
    <p>Ta aplikacja wykorzystuje pliki cookie, aby poprawnie funkcjonować</p>
    <br>
    <p>Jeżeli chcesz kontynuować, zaakceptuj pliki cookie</p>
    <br>
    <button id="accept-cookies">Zaakceptuj</button>
    <button id="decline-cookies">Odrzuć</button>
</div>
<nav>
    <a href="/">Główna</a>
    <a href="/books">Książki</a>
    <a href="/members">Członkowie</a>
    <a href="/reservations">Rezerwacje</a>
    <a href="/users">Użytkownicy</a>
</nav>
<div class="search-bar">
    <form th:action="@{/books}" method="get">
        <input type="search" placeholder="Szukaj książek, autorów, ISBN" class="search" name="search">
    </form>
</div>
<div class="container">
<div class="methrick">
    <p>Wszystkich książek</p>
    <br>
    <p class="methrick_value" th:text="${numberOfBooks}">0</p>
</div>
<div>
    <p>Aktywnych członków</p>
    <br>
    <p class="methrick_value" th:text="${numberOfActiveMembers}">0</p>
</div>
<div>
    <p>Wypożyczenia</p>
    <br>
    <p class="methrick_value" th:text="${numberOfBorrowedBooks}">0</p>
</div>
<div>
    <p>Rezerwacje</p>
    <br>
    <p class="methrick_value" th:text="${numberOfReservation}">0</p>
</div>
<div class="Card">
    <h3>Ostatnio dodane książki</h3>
    <ul>
       <li th:each="book : ${lastAddedBooks}" th:text="${book.title}">Tytuł książki</li>
    </ul>
</div>
    <h3>Ostatnie rezerwacje</h3>
    <ul>
        <li th:each="reservation : ${lastReservations}" th:text="${reservation.book.title}">Tytuł książki</li>
    </ul>
</div>
<script src="/js/cookies.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
