<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacje</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">Główna</a>
    <a href="/books">Książki</a>
    <a href="/members">Członkowie</a>
    <a href="/reservations">Rezerwacje</a>
    <a href="/users">Użytkownicy</a>
    <div class="nav-actions">
        <button id="addReservation" name="addReservation" class="btn-primary">Dodaj rezerwacje</button>
    </div>
</nav>
<div id="addReservationForm" class="modal-overlay hidden">
    <div class="modal">
        <div class="modal-header">
            <h2>Dodaj Rezerwacje</h2>
            <button class="modal-close" id="closeForm">✕</button>
        </div>
        <form th:action="@{/reservations}" method="post">
            <div class="form-group">
               <label>Czlonek</label>
               <select name="memberId" required>
                <option value="">Wybierz członka</option>
                <option th:each="member : ${members}"
                th:value="${member.id}"
                th:text="${member.firstName} + ' ' + ${member.lastName}">
                Jan Kowalski
                </option>
               </select>
            </div>
            <div class="form-group">
                <label>Książka</label>
                <select name="bookId" required>
                    <option value="">Wybierz Ksiązke</option>
                    <option th:each="book : ${books}"
                    th:value="${book.id}"
                    th:text="${book.title}">
                    Tytuł książki
                    </option>
                </select>
            </div>
            <div clas="form-action">
                <button type="button" class="btn-secondary" id="cancelReservationForm">Anuluj</button>
                <button type="submit" class="btn-primary">Zapisz</button>
            </div>
        </form>
    </div>

</div>

<div class="container">
    <h1>Rezerwacje</h1>
    <ul class="reservation-list">
        <li th:each="reservation : ${reservations}">
            <br>
            <span th:text="${reservation.status}">Status</span>
            <br>
            <span th:text="${reservation.reservationDate}">Data rezerwacji</span>
            <br>
            <span th:text="${reservation.member.firstName}">Imie członka</span>
            <br>
            <span th:text="${reservation.member.lastName}">Nazwisko członka</span>
            <br>
            <span th:text="${reservation.book.title}">Tytuł książki</span>
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(reservations)}">Brak rezerwacji.</p>
</div>
<script src="/js/cookies.js"></script>
<script src="/js/script.js"></script>
</body>
</html>